<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{'btnAnnounts' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  User-{{human}}
  <br>
  LastId - {{lastId}}
  <div *ngIf="lang==='uz'">
    <ion-list>
      <ion-item *ngFor="let item of notes" (click)="goToFull(item)">
        <ion-avatar item-left><ion-icon name="notifications"></ion-icon></ion-avatar>
        <h3>{{item.title}}</h3>
        <h4>{{item.date}}</h4>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="lang==='ru'">
    <ion-list>
      <ion-item *ngFor="let item of notes" (click)="goToFull(item)">
        <ion-avatar item-left><ion-icon name="notifications"></ion-icon></ion-avatar>
        <h3>{{item.title_ru}}</h3>
        <h4>{{item.date}}</h4>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
