<ion-header>
  <ion-grid>
    <ion-row justify-content-center nowrap>
    <ion-col style="padding-left:1px" col-auto><button [disabled]="!days[1]" (click)="getCurrentTable(1)" ion-button color="secondary">{{'btnMon' | translate }}</button></ion-col>
    <ion-col col-auto><button [disabled]="!days[2]" (click)="getCurrentTable(2)" ion-button color="secondary">{{'btnTus' | translate }}</button></ion-col>
    <ion-col col-auto><button [disabled]="!days[3]" (click)="getCurrentTable(3)" ion-button color="secondary">{{'btnWed' | translate }}</button></ion-col>
    <ion-col col-auto><button [disabled]="!days[4]" (click)="getCurrentTable(4)" ion-button color="secondary">{{'btnThus' | translate }}</button></ion-col>
    <ion-col col-auto><button [disabled]="!days[5]" (click)="getCurrentTable(5)" ion-button color="secondary">{{'btnFri' | translate }}</button></ion-col>
    <ion-col style="padding-right:1px" col-auto><button [disabled]="!days[6]" (click)="getCurrentTable(6)" ion-button color="secondary">{{'btnSun' | translate }}</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-content  overflow-scroll="false" style="min-height: 300px;">
    <table class="table table-striped table-bordered table-hover" id="mytable">
      <thead>
        <tr text-center>
          <th>#</th>
          <th><img class="img" src="assets/icon/subject.png"> &nbsp;{{'labelSubject' | translate}}</th>
          <th><img class="img" src="assets/icon/teacher.png"> &nbsp;{{'labelTeacher' | translate}}</th>
          <th><img class="img" src="assets/icon/group.png"> &nbsp;{{'labelGroup' | translate}}</th>
          <th><img class="img" src="assets/icon/room.png"> &nbsp;{{'labelRoom' | translate}}</th>
          <th><img class="img" src="assets/icon/type.png">  &nbsp;{{'labelLessonType'| translate}}</th>
        </tr>
      </thead>
      <tbody *ngIf="lang==='uz'">
        <tr *ngFor="let item of current" [ngStyle]="{'background-color' : '#f4f4f4'}">
          <td [ngStyle]="{'background-color' : indentifyPair(item)}">{{item.pair}}</td>
          <td>{{item.SubNameUz}}</td>
          <td (click)="showTeacherInfo(item.Teacher_id,'modal-head-staff',1)">{{item.TeachNameUz}}</td>
          <td (click)="showTeacherInfo(item.Group_id,'modal-head-staff',0,item.GroupName)">{{item.GroupName}}</td>
          <td>{{item.room}}</td>
          <td>{{type[item.type] | translate}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="lang==='ru'">
        <tr *ngFor="let item of current" [ngStyle]="{'background-color' : '#f4f4f4'}">
          <td [ngStyle]="{'background-color' : indentifyPair(item)}">{{item.pair}}</td>
          <td>{{item.SubNameRu}}</td>
          <td (click)="showTeacherInfo(item.Teacher_id,'modal-head-staff',1)">{{item.TeachNameRu}}</td>
          <td (click)="showTeacherInfo(item.Group_id,'modal-head-staff',0, item.GroupName)">{{item.GroupName}}</td>
          <td>{{item.room}}</td>
          <td>{{type[item.type] | translate}}</td>
        </tr>
      </tbody>
    </table> 
</ion-content>
<ion-fab right bottom>
  <button ion-fab color="secondary" (click)="goToHomePage()"><ion-icon name="home"></ion-icon></button>
</ion-fab>
</ion-content>


