<ion-header>
  <ion-grid>
    <ion-row justify-content-center nowrap>
    <ion-col style="padding-left:1px" col-auto><button (click)="getCurrentTable(1)" ion-button color="secondary">{{'btnMon' | translate }}</button></ion-col>
    <ion-col col-auto><button (click)="getCurrentTable(2)" ion-button color="secondary">{{'btnTus' | translate }}</button></ion-col>
    <ion-col col-auto><button (click)="getCurrentTable(3)" ion-button color="secondary">{{'btnWed' | translate }}</button></ion-col>
    <ion-col col-auto><button (click)="getCurrentTable(4)" ion-button color="secondary">{{'btnThus' | translate }}</button></ion-col>
    <ion-col col-auto><button (click)="getCurrentTable(5)" ion-button color="secondary">{{'btnFri' | translate }}</button></ion-col>
    <ion-col style="padding-right:1px" col-auto><button (click)="getCurrentTable(6)" ion-button color="secondary">{{'btnSun' | translate }}</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-content  overflow-scroll="false" style="min-height: 300px;">
    <table class="table table-striped table-bordered table-hover" id="mytable">
      <thead>
        <tr text-center>
          <th>#</th>
          <th>{{'labelSubject' | translate}}</th>
          <th>{{'labelTeacher' | translate}}</th>
          <th>{{'labelGroup' | translate}}</th>
          <th>{{'labelRoom' | translate}}</th>
          <th>{{'labelLessonType'| translate}} </th>
        </tr>
      </thead>
      <tbody *ngIf="lang==='uz'">
        <tr *ngFor="let item of current">
          <td>{{item.pair}}</td>
          <td>{{item.SubNameUz}}</td>
          <td>{{item.TeachNameUz}}</td>
          <td>{{item.GroupName}}</td>
          <td>{{item.room}}</td>
          <td>{{type[item.type] | translate}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="lang==='ru'">
        <tr *ngFor="let item of current">
          <td>{{item.pair}}</td>
          <td>{{item.SubNameRu}}</td>
          <td>{{item.TeachNameRu}}</td>
          <td>{{item.GroupName}}</td>
          <td>{{item.room}}</td>
          <td>{{type[item.type] | translate}}</td>
        </tr>
      </tbody>
    </table> 
</ion-content>
<ion-fab right bottom>
  <button ion-fab color="secondary" (click)="goToHomePage()"><ion-icon name="home"></ion-icon></button>
</ion-fab>
</ion-content>


