<ion-header >
  <ion-navbar color="secondary" hideBackButton="true">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
         </ion-col>
       <ion-col>
         <h3 style="color:white">UNO uzun -{{lennotes}}<br> badge- {{badgeCntNote}} <br> lastid-{{id2}} <br> </h3>
       </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-col col-12>
      <ion-row>
        <ion-slides autoplay="3000" loop="true" speed="1000" pager="true">
          <ion-slide >
            <img src="assets/imgs/s1.jpg">
          </ion-slide>
          <ion-slide >
            <img src="assets/imgs/s2.jpg">
          </ion-slide>
          <ion-slide >
            <img src="assets/imgs/s3.jpg">
          </ion-slide>
          <ion-slide >
            <img src="assets/imgs/s4.jpg">
          </ion-slide>
          <ion-slide >
            <img src="assets/imgs/s5.jpg">
          </ion-slide>
          <ion-slide >
            <img src="assets/imgs/s6.jpg">
          </ion-slide>
        </ion-slides>
      </ion-row>
      <ion-row>
        <ion-col col-4 text-center>
          <div class="item_g" (click)="goToNewsPage()">
              <div *ngIf="badgeCnt > 0">
                  <span class="notify-badge">{{badgeCnt}}</span>
               </div>
              <img width="100%" src="assets/imgs/news.png">
              <ion-label>{{'labelNewsandAnnounts' | translate }}</ion-label>
          </div>
        </ion-col>
        <ion-col col-4  text-center>
          <div (click)="goToTimeTablePage()">
              <img width="100%" src="assets/imgs/time_tab.png">
              <ion-label>{{'labelTimetable' | translate }}</ion-label>
          </div>
        </ion-col>
        <ion-col col-4  text-center>
          <div class="item_g" (click)="goToInqueryPage()">
              <div *ngIf="badgeCntNote > 0">
                  <span class="notify-badge">{{badgeCntNote}}</span>
               </div>
              <img width="100%" src="assets/imgs/dec.PNG">
              <ion-label>{{'labelDecs' | translate }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4  text-center>
          <div (click)="goToTuitSbPage()">
              <img width="100%" src="assets/imgs/TATU.png">
              <ion-label>{{'labelTUIT' | translate }}</ion-label>
          </div>
        </ion-col>
        <ion-col col-4  text-center>
          <div (click)="goToStatisticsPage()">
              <img width="100%" src="assets/imgs/Statnew.png">
              <ion-label>{{ 'labelStatistics' | translate}}</ion-label>
          </div>
        </ion-col>
        <ion-col col-4  text-center> 
          <div (click)="goToContactsPage()">
              <img width="100%" src="assets/imgs/contact.png">
              <ion-label>{{'labelContacts' | translate }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
