page-home {
    .navbar{
        background-color: #174434;
    }
    .item_g {
        position:relative;
        padding-top:0px;
    }
    .notify-badge{
        position: absolute;
        right: 0px;
        background:rgb(54, 126, 104);
        text-align: center;
        border-radius: 30px;
        color:white;
        padding:5px 10px;
        font-size:15px;
    }
}
