<ion-header>

  <ion-navbar color="secondary">
    <ion-title>{{'btnNews' | translate}}</ion-title>
  </ion-navbar>
  <img src="assets/imgs/s3.jpg">

</ion-header>


<ion-content padding>
  <div *ngIf="lang==='uz'">
  <ion-card-header><h2 text-wrap>{{currentnews.titleUz}}</h2></ion-card-header>
  <div [innerHTML]="currentnews.fullUz"></div>
      <hr>
      <span style="float: left; text-decoration: italic;"><ion-icon name="contact"></ion-icon> {{currentnews.authorUz}}
      </span>
      <span style="float: right;">  <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{currentnews.date}}</span>
    </div>
 <div *ngIf="lang==='ru'"> 
   
  <ion-card-header><h2 text-wrap>{{currentnews.titleRu}}</h2></ion-card-header>
  <div [innerHTML]="currentnews.fullRu"></div>
      <hr>
      <span style="float: left; text-decoration: italic;"><ion-icon name="contact"></ion-icon> {{currentnews.authorRu}}
      </span>
      <span style="float: right;">  <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{currentnews.date}}</span>
 </div>
</ion-content>
