page-cafedra-info {
    .backNews_bt {
        background: url('../../assets/imgs/homebtn.png');
        background-size: 60px;
        background-position: center;
        background-position-y: 1px;
    }

    .this-avatar{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 2px solid #848484;
        overflow: hidden;
        padding: 2px;
        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
    }
}
