page-header-staff {
      @-webkit-keyframes slideInSmooth {
        0% {
          -webkit-transform: translate3d(100%,-100%,0);
          opacity: 1;
        }
        50% {
            -webkit-transform: translate3d(0,70%,0);
            opacity: 1;
          }
        100% {
          -webkit-transform: translate3d(0,0,0);
          opacity: 1;
        }
      }
      
      
      .slide-in{
         -webkit-animation: slideInSmooth ease-in 1; 
        animation: slideInSmooth ease-in 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 750ms;
        animation-duration: 750ms;
        opacity: 0;
      }
        .slide-in:nth-child(1) {-webkit-animation-delay: 0.0s; }
        .slide-in:nth-child(2) {-webkit-animation-delay: 0.5s; }
        .slide-in:nth-child(3) {-webkit-animation-delay: 1.0s; }
        .slide-in:nth-child(4) {-webkit-animation-delay: 1.5s; }
        .slide-in:nth-child(5) {-webkit-animation-delay: 2.0s; }
        //.slide-in:nth-child(6) {animation-delay: 2.5s; }

        
        
}
