<ion-header>
    <ion-grid>
        <ion-row justify-content-center nowrap>
            <ion-col col-auto><button (click)="getCurrentTable(1)" ion-button color="secondary">{{'btnMon' | translate }}</button></ion-col>
            <ion-col col-auto><button (click)="getCurrentTable(2)" ion-button color="secondary">{{'btnTus' | translate }}</button></ion-col>
            <ion-col col-auto><button (click)="getCurrentTable(3)" ion-button color="secondary">{{'btnWed' | translate }}</button></ion-col>
            <ion-col col-auto><button (click)="getCurrentTable(4)" ion-button color="secondary">{{'btnThus' | translate }}</button></ion-col>
            <ion-col col-auto><button (click)="getCurrentTable(5)" ion-button color="secondary">{{'btnFri' | translate }}</button></ion-col>
            <ion-col col-auto><button (click)="getCurrentTable(6)" ion-button color="secondary">{{'btnSun' | translate }}</button></ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content padding>
  <ion-content  overflow-scroll="false" style="min-height: 300px;">
  <table class="table table-striped table-bordered table-hover" id="mytable">
    <thead>
        <tr text-center>
            <th>#</th>
            <th>{{'labelSubject' | translate}}</th>
            <th>{{'labelGroup' | translate}}</th>
            <th>{{'labelRoom' | translate}}</th>
            <th>{{'labelLessonType'| translate}} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of current"  >
            <td *ngIf="item.fan1==='-'" >{{item.lessonId}}</td>
            <td *ngIf="item.fan1==='-'" >{{item.fan}} </td>
            <td *ngIf="item.fan1==='-'" >{{item.group}}</td>
            <td *ngIf="item.fan1==='-'" >{{item.room}}</td>
            <td *ngIf="item.type==='1' && item.fan1==='-'" >{{'labelLec' | translate}}</td>
            <td *ngIf="item.type==='2' && item.fan1==='-'" >{{'labelPrac' | translate}} </td>
            <td *ngIf="item.type==='3' && item.fan1==='-'" >{{'labelLab' | translate}}</td>
            <td *ngIf="item.fan1!=='-'" >{{item.lessonId}}<br>Juft hafta</td>
            <td *ngIf="item.fan1!=='-'" >{{item.fan}} <br> {{item.fan1}} </td>
            <td *ngIf="item.fan1!=='-'" >{{item.group}}</td>
            <td *ngIf="item.fan1!=='-'" >{{item.room}}<br> {{item.room1}}</td>
            <td *ngIf="item.type==='1'&& item.type1==='1'" >{{'labelLec' | translate}} <br> {{'labelLec' | translate}} </td>
            <td *ngIf="item.type==='2'&& item.type1==='2'" >{{'labelPrac' | translate}} <br> {{'labelPrac' | translate}} </td>
            <td *ngIf="item.type==='1'&& item.type1==='2'" >{{'labelLec' | translate}} <br> {{'labelPrac' | translate}} </td>
            <td *ngIf="item.type==='3'&& item.type1==='3'" >{{'labelLab' | translate}} <br> {{'labelLab' | translate}}</td>
            <td *ngIf="item.type==='2'&& item.type1==='3'" >{{'labelPrac' | translate}} <br> {{'labelLab' | translate}}</td>
            <td *ngIf="item.type==='1'&& item.type1==='3'" >{{'labelLec' | translate}} <br> {{'labelLab' | translate}}</td>
          </tr>
    </tbody>
    </table> 
    </ion-content>
    <ion-fab right bottom>
      <button ion-fab color="secondary" (click)="goToHomePage()"><ion-icon name="home"></ion-icon></button>
    </ion-fab>
</ion-content>


