<ion-content padding>
  {{teachId}}
 
<ion-slides pager="true" text-center>
<ion-slide>
    <br>
    <br>
    <br>
    <br>
          <ion-row text-center> <ion-col> {{'btnMon' | translate }}</ion-col><ion-col><button ion-button class="lec">{{'labelLec' | translate }}</button></ion-col> <ion-col><button ion-button class="prac">{{'labelPrac' | translate }}</button></ion-col> <ion-col><button ion-button class="lab">{{'labelLab' | translate }}</button></ion-col></ion-row>
          <ion-content  overflow-scroll="false" style="min-height: 300px;">
  <table class="table table-striped table-bordered table-hover" id="mytable">
    <thead>
        <tr text-center>
            <th>#</th>
            <th>{{'labelSubject' | translate}}</th>
            <th>{{'labelRoom' | translate}}</th>
            <th>{{'labelTeacher' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of monday"  >
            
                    <td *ngIf="item.type==='1' && item.fan1==='-'" class="lec">{{item.lessonId}}</td>
                    <td *ngIf="item.type==='1' && item.fan1==='-'" class="lec">{{item.fan}} </td>
                    <td *ngIf="item.type==='1' && item.fan1==='-'" class="lec">{{item.room}}</td>
                    <td *ngIf="item.type==='1' && item.fan1==='-'" class="lec">{{item.group}}</td>
                    <td *ngIf="item.type==='2' && item.fan1==='-'" class="prac">{{item.lessonId}}</td>
                    <td *ngIf="item.type==='2' && item.fan1==='-'" class="prac">{{item.fan}} </td>
                    <td *ngIf="item.type==='2' && item.fan1==='-'" class="prac">{{item.room}}</td>
                    <td *ngIf="item.type==='2' && item.fan1==='-'" class="prac">{{item.group}}</td>
                    <td *ngIf="item.type==='3' && item.fan1==='-'" class="lab">{{item.lessonId}}</td>
                    <td *ngIf="item.type==='3' && item.fan1==='-'" class="lab">{{item.fan}} </td>
                    <td *ngIf="item.type==='3' && item.fan1==='-'" class="lab">{{item.room}}</td>
                    <td *ngIf="item.type==='3' && item.fan1==='-'" class="lab">{{item.group}}</td>
        
                        <td *ngIf="item.type1==='1' && item.fan1!=='-'" class="lec">{{item.lessonId}}<br>Juft hafta</td>
                        <td *ngIf="item.type1==='1' && item.fan1!=='-'" class="lec">{{item.fan}} <br> {{item.fan1}} </td>
                        <td *ngIf="item.type1==='1' && item.fan1!=='-'" class="lec">{{item.room}}<br> {{item.room1}}</td>
                        <td *ngIf="item.type1==='1' && item.fan1!=='-'" class="lec">{{item.group}} <br> {{item.group}}</td>
                        <td *ngIf="item.type1==='2' && item.fan1!=='-'" class="prac">{{item.lessonId}} <br> Juft hafta</td>
                        <td *ngIf="item.type1==='2' && item.fan1!=='-'" class="prac">{{item.fan}} <br> {{item.fan1}} </td>
                        <td *ngIf="item.type1==='2' && item.fan1!=='-'" class="prac">{{item.room}} <br> {{item.room1}}</td>
                        <td *ngIf="item.type1==='2' && item.fan1!=='-'" class="prac">{{item.group}} <br> {{item.group}}</td>
                        <td *ngIf="item.type1==='3' && item.fan1!=='-'" class="lab">{{item.lessonId}} <br> Juft hafta</td>
                        <td *ngIf="item.type1==='3' && item.fan1!=='-'" class="lab">{{item.fan}}  <br> {{item.fan1}}</td>
                        <td *ngIf="item.type1==='3' && item.fan1!=='-'" class="lab">{{item.room}} <br> {{item.room1}}</td>
                        <td *ngIf="item.type1==='3' && item.fan1!=='-'" class="lab">{{item.group}} <br> {{item.group}}</td>
                
        </tr>
</tbody>
</table> 
</ion-content>
</ion-slide>
<!--
<ion-slide>
      <br>
      <br>
      <br>
      <br>
    <ion-row text-center> <ion-col > {{'btnTus' | translate }}</ion-col><ion-col><button ion-button class="lec">{{'labelLec' | translate }}</button></ion-col> <ion-col><button ion-button class="prac">{{'labelPrac' | translate }}</button></ion-col> <ion-col><button ion-button class="lab">{{'labelLab' | translate }}</button></ion-col></ion-row>
    <ion-content  overflow-scroll="false" style="min-height: 300px;">
    <table class="table table-striped table-bordered table-hover" id="mytable">
      <thead>
          <tr text-center>
              <th>#</th>
              <th>{{'labelSubject' | translate}}</th>
              <th>{{'labelTeacher' | translate}}</th>
              <th>{{'labelRoom' | translate}}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of tuesday"  >
              <td *ngIf="item.type==='1'" class="lec">{{item.lessonId}}</td>
              <td *ngIf="item.type==='1'" class="lec">{{item.fan}} </td>
            
              <td *ngIf="item.type==='1'" class="lec">{{item.room}}</td>
              <td *ngIf="item.type==='2'" class="prac">{{item.lessonId}}</td>
              <td *ngIf="item.type==='2'" class="prac">{{item.fan}} </td>
       
              <td *ngIf="item.type==='2'" class="prac">{{item.room}}</td>
              <td *ngIf="item.type==='3'" class="lab">{{item.lessonId}}</td>
              <td *ngIf="item.type==='3'" class="lab">{{item.fan}} </td>
           
              <td *ngIf="item.type==='3'" class="lab">{{item.room}}</td>
          </tr>
  </tbody>
</table> 
</ion-content>
  </ion-slide>
  <ion-slide>
          <br>
          <br>
          <br>
          <br>
              <ion-row text-center> <ion-col >  {{'btnWed' | translate }} </ion-col><ion-col><button ion-button class="lec">{{'labelLec' | translate }}</button></ion-col> <ion-col><button ion-button class="prac">{{'labelPrac' | translate }}</button></ion-col> <ion-col><button ion-button class="lab">{{'labelLab' | translate }}</button></ion-col></ion-row>
              <ion-content  overflow-scroll="false" style="min-height: 300px;">
      <table class="table table-striped table-bordered table-hover" id="mytable">
        <thead>
            <tr text-center>
                <th>#</th>
                <th>{{'labelSubject' | translate}}</th>
                <th>{{'labelTeacher' | translate}}</th>
                <th>{{'labelRoom' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of wednesday"  >
                <td *ngIf="item.type==='1'" class="lec">{{item.lessonId}}</td>
                <td *ngIf="item.type==='1'" class="lec">{{item.fan}} </td>
                
                <td *ngIf="item.type==='1'" class="lec">{{item.room}}</td>
                <td *ngIf="item.type==='2'" class="prac">{{item.lessonId}}</td>
                <td *ngIf="item.type==='2'" class="prac">{{item.fan}} </td>
       
                <td *ngIf="item.type==='2'" class="prac">{{item.room}}</td>
                <td *ngIf="item.type==='3'" class="lab">{{item.lessonId}}</td>
                <td *ngIf="item.type==='3'" class="lab">{{item.fan}} </td>
               
                <td *ngIf="item.type==='3'" class="lab">{{item.room}}</td>
  
            </tr>
           
    </tbody>
  </table>
  </ion-content>
    </ion-slide>
    <ion-slide>
          <br>
          <br>
          <br>
          <br>
              <ion-row text-center> <ion-col >  {{'btnThus' | translate }} </ion-col><ion-col><button ion-button class="lec">{{'labelLec' | translate }}</button></ion-col> <ion-col><button ion-button class="prac">{{'labelPrac' | translate }}</button></ion-col> <ion-col><button ion-button class="lab">{{'labelLab' | translate }}</button></ion-col></ion-row>
              <ion-content  overflow-scroll="false" style="min-height: 300px;">
              <table class="table table-striped table-bordered table-hover" id="mytable">
          <thead>
              <tr text-center>
                  <th>#</th>
                  <th>{{'labelSubject' | translate}}</th>
                  <th>{{'labelTeacher' | translate}}</th>
                  <th>{{'labelRoom' | translate}}</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of thursday"  >
                  <td *ngIf="item.type==='1'" class="lec">{{item.lessonId}}</td>
                  <td *ngIf="item.type==='1'" class="lec">{{item.fan}} </td>
                
                  <td *ngIf="item.type==='1'" class="lec">{{item.room}}</td>
                  <td *ngIf="item.type==='2'" class="prac">{{item.lessonId}}</td>
                  <td *ngIf="item.type==='2'" class="prac">{{item.fan}} </td>
               
                  <td *ngIf="item.type==='2'" class="prac">{{item.room}}</td>
                  <td *ngIf="item.type==='3'" class="lab">{{item.lessonId}}</td>
                  <td *ngIf="item.type==='3'" class="lab">{{item.fan}} </td>
                 
                  <td *ngIf="item.type==='3'" class="lab">{{item.room}}</td>
    
              </tr>
             
      </tbody>
    </table> 
    </ion-content>
      </ion-slide>
      <ion-slide>
              <br>
              <br>
              <br>
              <br>
                  <ion-row text-center> <ion-col > {{'btnFri' | translate }}</ion-col><ion-col><button ion-button class="lec">{{'labelLec' | translate }}</button></ion-col> <ion-col><button ion-button class="prac">{{'labelPrac' | translate }}</button></ion-col> <ion-col><button ion-button class="lab">{{'labelLab' | translate }}</button></ion-col></ion-row>
                  <ion-content  overflow-scroll="false" style="min-height: 300px;">
          <table class="table table-striped table-bordered table-hover" id="mytable">
            <thead>
                <tr text-center>
                    <th>#</th>
                    <th>{{'labelSubject' | translate}}</th>
                    <th>{{'labelTeacher' | translate}}</th>
                    <th>{{'labelRoom' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of friday"  >
                    <td *ngIf="item.type==='1'" class="lec">{{item.lessonId}}</td>
                    <td *ngIf="item.type==='1'" class="lec">{{item.fan}} </td>
                    
                    <td *ngIf="item.type==='1'" class="lec">{{item.room}}</td>
                    <td *ngIf="item.type==='2'" class="prac">{{item.lessonId}}</td>
                    <td *ngIf="item.type==='2'" class="prac">{{item.fan}} </td>
             
                    <td *ngIf="item.type==='2'" class="prac">{{item.room}}</td>
                    <td *ngIf="item.type==='3'" class="lab">{{item.lessonId}}</td>
                    <td *ngIf="item.type==='3'" class="lab">{{item.fan}} </td>
               
                    <td *ngIf="item.type==='3'" class="lab">{{item.room}}</td>
      
                </tr>
               
        </tbody>
      </table> 
  </ion-content>
        </ion-slide>
        <ion-slide >
              <br>
              <br>
              <br>
              <br>
          <ion-row text-center> <ion-col > {{'btnSun' | translate }}</ion-col><ion-col><button ion-button class="lec">{{'labelLec' | translate }}</button></ion-col> <ion-col><button ion-button class="prac">{{'labelPrac' | translate }}</button></ion-col> <ion-col><button ion-button class="lab">{{'labelLab' | translate }}</button></ion-col></ion-row>
          
                  <ion-content  overflow-scroll="false" style="min-height: 300px;">
                                    
                      
                           
            <table class="table table-striped table-bordered table-hover" id="mytable">
              <thead>
                  <tr text-center >
                      <th>#</th>
                      <th>{{'labelSubject' | translate}}</th>
                      
                      <th>{{'labelRoom' | translate}}</th>
                  </tr>
              </thead>
              <tbody>
                   
                  <tr *ngFor="let item of saturday"  >
                          
                      <td *ngIf="item.type==='1'" class="lec">{{item.lessonId}}</td>
                      <td *ngIf="item.type==='1'" class="lec">{{item.fan}} </td>
                      
                      <td *ngIf="item.type==='1'" class="lec">{{item.room}}</td>
                      <td *ngIf="item.type==='2'" class="prac">{{item.lessonId}}</td>
                      <td *ngIf="item.type==='2'" class="prac">{{item.fan}} </td>
                      
                      <td *ngIf="item.type==='2'" class="prac">{{item.room}}</td>
                      <td *ngIf="item.type==='3'" class="lab">{{item.lessonId}}</td>
                      <td *ngIf="item.type==='3'" class="lab">{{item.fan}} </td>
                     
                      <td *ngIf="item.type==='3'" class="lab">{{item.room}}</td>
                   
                  </tr> 
                  
          </tbody>
        </table>
      </ion-content>
      
          </ion-slide>

        -->    
</ion-slides> 
<!--
    
-->
<ion-item *ngFor="let a of timetablesync">
        {{a.fan}} 
      </ion-item>
      <ion-item *ngFor="let a of timetablesync">
            {{a.fan1}} 
          </ion-item>
          monday
  <ion-item *ngFor="let a of monday">
     <div *ngIf="a.fan1!=='-'"> 
         
    {{a.fan1}} {{a.room1}}
  </div>
   <div>
       {{a.fan}} {{a.room}}
       </div> 
    </ion-item>
   
    <ion-fab right bottom>
      <button ion-fab color="secondary" (click)="goToHomePage()"><ion-icon name="home"></ion-icon></button>
    </ion-fab>
</ion-content>


